//Media queries
@media screen and ( min-width: $mobile ) {
    .container, .nav-container {
        margin: 0 auto;
        width: $container-width-sm;
    }

    .container {
        height: 100vh - $nav-height-sm;
        padding: $min-margin 0;
    }

    .all-height-content {
        height: calc( 100% - $nav-height-sm );
    }

    .page-title {
        margin-bottom: 2rem;
    }
}

@media screen and ( min-width: $tablet ) {
    .container, .nav-container {
        width: $container-width-md;
    }
    
    .container {
        height: 100vh - $nav-height-md;
    }

    .all-height-content {
        height: calc( 100% - $nav-height-md );
    }

    .page-title {
        margin-bottom: 0;
    }
}

@media screen and ( min-width: $laptop ) {
    .container, .nav-container {
        width: $container-width-lg;
    }

    .container {
        height: 100vh - $nav-height-lg;
    }
}

@media screen and ( min-width: $xl ) {
    .container, .nav-container {
        width: $container-width-xl;
    }
}