//Media queries
@media screen and ( min-width: $mobile ) {
    .container, .nav-container {
        margin: 0 auto;
        width: $container-width-sm;
    }

    .container {
        height: 100vh;
        padding: $min-margin 0;
    }

    .content-container {
        overflow-y: auto;
    }

    .all-height-content {
        height: calc( 100% - $nav-height-sm );
    }

    .page-title {
        margin-bottom: 2rem;
    }
}

@media screen and ( min-width: $tablet ) {
    .container, .nav-container {
        margin: 0 auto;
        width: $container-width-md;
    }

    .container {

    }

    .all-height-content {
        height: calc( 100% - $nav-height-md );
    }

    .page-title {
        margin-bottom: 0;
    }
}

@media screen and ( min-width: $laptop ) {
    .container, .nav-container {
        margin: 0 auto;
        width: $container-width-lg;
    }

    .container {

        overflow-y: hidden;
    }
}