@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $h1-normal-size;
}

a {
    text-decoration: none;
    color:inherit;

    &:hover {
        cursor: pointer;
    }
}

.content-container {
    background-color: $first-color;
    color: $font-color;
}

.text-small {
    font-size: $small-font-size;
}

.el-link {
    transition: all $common-transition;
    
    &:hover, &.active {
        color: $second-color;
    }

    &:hover {
        cursor: pointer;
    }
}

.menu-item a.router-link-active {
    border-bottom: 2px solid $font-color;
}

.menu-item a {
    position: relative;
}

.menu-item a {
    &::after {
        content: '';
        width: 0;
        transition: all $common-transition;
    }
}

.menu-item a {
    &:hover:after {
        content: '';
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $font-color;
    }
}

.all-height-content {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    background-color: $font-color;
    border: 0;
    color: $variant-first-color;
    transition: all $common-transition;

    &:hover {
        cursor: pointer;
        background-color: $variant-first-color;
        color: $font-color;
    }
}

//Scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-hover;
}

//Transitions
.fade-left-enter-active, .fade-left-leave-active {
    transition: all 0.8s ease;
    transition-delay: 0.7s;
    opacity: 1;
    position: relative;
    left: 0;
}

.fade-left-enter-from, .fade-left-leave-to {
    transition: all 0.6s ease;
    opacity: 0;
    position: relative;
    left: 10%;
}

.fade-up-enter-active, .fade-up-leave-active {
    transition: all 0.6s ease;
    opacity: 1;
    position: relative;
    top: 0;
}

.fade-up-enter-from, .fade-up-leave-to {
    transition: all 0.4s ease;
    transition-delay: 1s;
    opacity: 0;
    position: relative;
    top: 10px;
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.6s ease;
    opacity: 1;
}

.fade-enter-from, .fade-leave-to {
    transition: all 0.4s ease;
    opacity: 0;
}

//Animations
.writing-cursor {
    @include animationParameters( cursor, 1.2s, ease, forwards, infinite );
}

@keyframes cursor {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.float-img {
    position: relative;
    @include animationParameters( move, 2.5s, ease, none, infinite );
}

@keyframes move {
    0%, 100% {
        top: 0;
    }

    50% {
        top: 15px;
    }
}

.page-enter-active {
    transition: all 1.5s;

    & .content-container::after {
        content: '';
        width: 100vw;
        background: linear-gradient(270deg, $page-transition-color2, $page-transition-color1);
        background-size: $page-transition-background-size;
        @include animationParameters( gradientAnimationExit, 1.5s, ease, forwards, 1 );
        @include positionValues( absolute, 0, 0, 0, 0);
    }

    & .container {
        @include animationParameters( containerShow, 2s, ease, forwards, 1 );
    }
}

.page-leave-active {
    transition: all 1.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
    & .content-container::after {
        content: '';
        width: 100vw;
        background: linear-gradient(270deg, $page-transition-color2, $page-transition-color1);
        background-size: $page-transition-background-size;
        @include animationParameters( gradientAnimation, 1.5s, ease, forwards, 1 );
        @include positionValues( absolute, 0, 0, 0, 0);
    }
}

@keyframes gradientAnimation {
    0% {opacity: 0; background-position: 0% 50% }
    10% { opacity: 1 }
    50% { background-position: 50% 50% }
    100% { background-position: 0% 50% }
}

@keyframes gradientAnimationExit {
    0% {opacity: 1; background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { opacity: 0; background-position: 0% 50% }
}

@keyframes containerHide {
    from { opacity: 1; }
    to {  opacity: 0; }
}

@keyframes containerShow {
    from { opacity: 0; }
    to {  opacity: 1; }
}

.glow {
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0;
  }
  
  to {
    text-shadow: 0 0 1px #fff, 0 0 5px $page-transition-color2, 0 0 10px $page-transition-color2, 0 0 15px $page-transition-color2, 0 0 20px $page-transition-color2
  }
}