//Media queries
@media screen and ( min-width: $mobile ) {
    .container, .nav-container {
        margin: 0 auto;
        width: $container-width-sm;
    }

    .content-wrap.active .content-container {
        overflow-y: hidden;
    }

    .content-container {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container {
        height: 100vh - $nav-height-sm;
        padding: $min-margin 0;
    }

    .all-height-content {
        height: calc( 100% - $nav-height-sm );
    }

    .page-title {
        margin-bottom: 2rem;
    }

    .page-enter-active {
    
        & .content-container::after {
            height: 100vh - $nav-height-sm;
        }
    }

    .page-enter-from,
    .page-leave-to {

        & .content-container::after {
            height: 100vh - $nav-height-sm;
        }
    }
}

@media screen and ( min-width: $tablet ) {
    .container, .nav-container {
        width: $container-width-md;
    }
    
    .container {
        height: 100vh - $nav-height-md;
    }

    .all-height-content {
        height: calc( 100% - $nav-height-md );
    }

    .page-title {
        margin-bottom: 0;
    }
    
    .page-enter-active {
    
        & .content-container::after {
            height: 100vh - $nav-height-md;
        }
    }

    .page-enter-from,
    .page-leave-to {

        & .content-container::after {
            height: 100vh - $nav-height-md;
        }
    }
}

@media screen and ( min-width: $laptop ) {
    .container, .nav-container {
        width: $container-width-lg;
    }

    .container {
        height: 100vh - $nav-height-lg;
    }

    .page-enter-active {
    
        & .content-container::after {
            height: 100vh - $nav-height-lg;
        }
    }

    .page-enter-from,
    .page-leave-to {

        & .content-container::after {
            height: 100vh - $nav-height-lg;
        }
    }
}

@media screen and ( min-width: $xl ) {
    .container, .nav-container {
        width: $container-width-xl;
    }
}