//Colors
$first-color: #1E3163;
$variant-first-color: #2D46B9; 
$second-color: #00FFAB; 
$font-color: #FFF;
$a-color: #FFF;
$font-not-active: rgba( 255, 255, 255, 0.4 );

$skills-img-soft-color: #edfa31;
$skills-img-hard-color: #a81914;

$scrollbar-color: rgba(198, 194, 195, 0.4); 
$scrollbar-color-hover: rgba(198, 194, 195, 0.3);

$page-transition-color1: #223060;
$page-transition-color2: #17ffc3;

//Transitions
$common-transition: 0.3s ease;

$page-transition-background-size: 400% 400%;

//Margins
$min-margin: 2rem;
$mid-margin: 5rem;

//Radius
$max-radius: 25px;

//Nav
$nav-height-sm: 12vh;
$nav-height-md: 10vh;
$nav-height-lg: 8vh;

$nav-mobile-bottom: $min-margin + 4rem;

//Hamburger
$hamburger-width: 32px;
$hamburger-height: 26px;

$hamburger-line-width: 100%;
$hamburger-line-height: 4px;

$hamburger-line-radius: 10px;

//Container
$container-height: 100vh;

$container-width-sm: 85%;
$container-width-md: 80%;
$container-width-lg: 75%;
$container-width-xl: 65%;

//Text
$hero-h1-size: 48px;
$hero-p-size: 20px;
$hero-span-size: 32px;
$h1-normal-size: 32px;
$small-font-size: 12px;
$medium-font-size: 18px;

$h2-size: 24px;

$profilo-h3-weight: 600;
$profilo-text-margin: 1.5rem;
$profilo-list-size: 14px;

//Skills
$skills-imgs-size: 20px;

$skills-bulbs-float-width-sm: 40%;
$skills-bulbs-float-width-md: 50%;

$skills-bulbs-width: 100px;

$skills-bulb-light-top: 150px;
$skills-bulb-light-left: 50%;

//Projects
$progetti-langs-size-sm: 14px;
$progetti-langs-size-md: 16px;

//Breakpoints
$mobile: 280px;
$tablet: 768px;
$laptop: 1024px;
$xl: 1200px;

//Scrollbar
$md-width: 5px;
$border-radius: 10px;